/* =========================
   MOBILE: PASSWORD HISTORY UNDER FORM
   ========================= */
@media (max-width: 500px) {

    .container {
        display:inline;
        /* flex-direction: column;
        justify-content: center; */
        padding: 40px 20px;
    }

    /* Left section first */
    .left {
        width: 100%;
        order: 1;
    }

    /* Password history moves BELOW left */
    .right {
        width: 100%;
        order: 2;
        margin-top: 50px;
    }

    /* Improve mobile spacing */
    .right h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .history li {
        font-size: 14px;
        padding: 10px 0;
    }

    .clear {
        text-align: center;
        margin-top: 25px;
    }
}
