*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:#fff;
    font-family:'Share Tech Mono', monospace;
}

.container{
    display:flex;
    justify-content:space-between;
    padding:80px 100px;
}

/* LEFT */
.left{
    width:50%;
}

h1{
    font-family:'Orbitron', sans-serif;
    color:#ffe600;
    font-size:48px;
    margin-bottom:40px;
}

.password-box{
    border:2px solid #00fff0;
    padding:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#00fff0;
    font-size:18px;
    margin-bottom:25px;
}

.copy{
    cursor:pointer;
    color:#00fff0;
}

/* STRENGTH */
.strength-box{
    margin-bottom:25px;
}

.strength-bar{
    width:100%;
    height:8px;
    background:#222;
    border-radius:5px;
    margin-bottom:15px;
    overflow:hidden;
}

.strength-fill{
    height:100%;
    width:0%;
    background:red;
    transition:0.3s;
}

.strength-box p{
    font-size:14px;
    color:#ccc;
    margin:6px 0;
}

/* MODE */
.mode-section{
    margin-bottom:20px;
    display:flex;
    gap:20px;
}

.mode-section label{
    cursor:pointer;
}

/* PHRASE */
.phrase-box{
    display:none;
    margin-bottom:20px;
    gap:10px;
}

.phrase-box input{
    flex:1;
    padding:10px;
    background:#000000;
    border:1px solid #00fff0;
    color:#fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
}

.phrase-box button{
    padding:8px 15px;
    background:#00fff0;
    border:none;
    cursor:pointer;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
}

/* GENERATE BUTTON */
.generate{
    background:#ffe600;
    color:#000;
    font-family:'Orbitron', sans-serif;
    font-size:16px;
    font-weight: 900;
    border:none;
    padding:15px 30px;
    cursor:pointer;
    width:280px;
    margin-bottom:20px;
}

/* SLIDER */
.slider-section{
    margin-bottom:20px;
}

input[type="range"]{
    width:100%;
    accent-color:#00fff0;
}

.length{
    margin-top:10px;
    color:#ffe600;
}

/* OPTIONS */
.options{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

/* RIGHT */
.right{
    width:40%;
}

.right h2{
    font-family:'Orbitron', sans-serif;
    margin-bottom:30px;
}
.character-method{
    display: none;
}

.history{
    list-style:none;
    max-height: 60vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.history li{
    display:flex;
    justify-content:space-between;
    padding:10px 0;
    border-bottom:1px solid #222;
    color:#aaa;
}

.copy-icon{
    cursor:pointer;
}

.clear{
    margin-top:20px;
    color:#ffe600;
    cursor:pointer;
}

/* NOTE */
.note{
    /* display:none; */
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1.5);
    background:#111;
    padding:20px 40px;
    border:1px solid #aaa;
    border-radius:10px;
    z-index:100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.note.active{
    visibility: visible;
    opacity: 1;
    /* transform: scale(1);     */

}
.outerbox.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1.5);    
}
.outerbox{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    z-index:99;
    transition: all 0.3s ease-in-out ;
}
.shortcut-box {
    
    width: 400px;

    background: #0b0b0b;
    border: 2px solid #00fff0;
    box-shadow: 0 0 15px rgba(0, 255, 240, 0.4);

    padding: 18px;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    z-index: 999;
}

.close{
    display: inline;
    position: relative;
    top: 10px;
    right: -320px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #00fff0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.shortcut-box h3 {
    color: #ffe600;
    margin-bottom: 12px;
    font-size: 16px;
    text-align: center;
}

.shortcut-box ul {
    list-style: none;
}

.shortcut-box li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #ccc;
}

.key {
    background: #111;
    border: 1px solid #00fff0;
    padding: 2px 6px;
    color: #00fff0;
    min-width: 32px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
}
footer{
    position:relative;
    padding-bottom: 20px;
    bottom:0px;
    left:0px;
    right:0px;
    display:flex;
    align-items: end;
    justify-content:center;
    font-size:14px;
    text-align: center;
    gap: 20px;
}

a, .link{
    color:#666;
    text-decoration: underline;
    cursor: pointer;
}

/* RESPONSIVE */
@media(max-width:900px){
    .container{
        flex-direction:column;
        padding:40px 20px;
    }
    .left,.right{
        width:100%;
    }
    .shortcut{
        display:none;
    }
}