*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    position: absolute;
    color:#fff;
    width: 100%;
    font-family:'Tomorrow', monospace;
}
.note{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size:20px;
    font-weight: 900;
    color:#666;
    background-color: #111111;
    border-radius: 10px;
    border: #aaa solid 1px;
    z-index: 99;
}
.shortbg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 98;
}
.short{
    position: fixed;
    font-family:'Orbitron', sans-serif;
    color: #ffe600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111111;
    border: #aaa solid 1px;
    border-radius: 10px;
    padding: 20px 30px;
    width: 500px;
    z-index: 99;
}
.short li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;

}
.short .close{
    position: fixed;
    cursor: pointer;
    color: #00fff0;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    top: 0;
    right: 0;
}
.short span{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00fff0;
    /* padding: 5px 15px; */
    width: 50px;
    height: 35px;
    color: #00fff0;
    min-width: 32px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
}
/* MAIN LAYOUT */
.container{
    display:flex;
    justify-content:space-between;
    padding:80px 100px;
    margin: auto;
}

/* LEFT SECTION */
.left{
    width:50%;
}

h1{
    font-family:'Orbitron', sans-serif;
    color:#ffe600;
    font-size:48px;
    letter-spacing:4px;
    margin-bottom:40px;
}

.password-box{
    border:2px solid #00fff0;
    padding:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#00fff0;
    font-size:18px;
    margin-bottom:25px;
}

.icons{
    display:flex;
    gap:15px;
    align-items:center;
}

.flag{
    display: none;
    width:18px;
    height:12px;
    background:linear-gradient(to bottom, red 33%, white 33% 66%, green 66%);
}

.copy {
    cursor: pointer;
    color: #00fff0;
    align-items: center;
    padding: 5px;
}


.generate{
    background:#ffe600;
    color:#000;
    font-family:'Orbitron', sans-serif;
    font-size:16px;
    border:none;
    padding:18px 30px;
    cursor:pointer;
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:280px;
    margin-bottom:40px;
}

.generate span{
    font-size:20px;
}

/* SLIDER */
.slider-section{
    margin-bottom:40px;
}

input[type="range"]{
    width:100%;
    cursor: pointer;
    accent-color:#00fff0;
}

.length{
    margin-top:10px;
    color:#ffe600;
}

/* OPTIONS */
.options{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

label{
    font-size:16px;
    cursor:pointer;
}

input[type="checkbox"]{
    accent-color:#ffe600;
    margin-right:10px;
}

/* RIGHT SECTION */
.right{
    width:40%;
}

.right h2{
    font-family:'Orbitron', sans-serif;
    letter-spacing:3px;
    margin-bottom:30px;
}

.history{
    list-style:none;
}

.history li{
    display:flex;
    justify-content:space-between;
    padding:12px 0;
    border-bottom:1px solid #222;
    color:#aaa;
}

.history li .copy-icon{
    cursor:pointer;
}

.clear{
    margin-top:25px;
    color:#ffe600;
    cursor:pointer;
}

/* FOOTER */
footer{
    position:fixed;
    bottom:20px;
    left:0px;
    right:0px;
    display:flex;
    justify-content:space-around;
    font-size:14px;
}

a , .links , #short{
    display: inline;
    text-align: center;
    color:#666;
    cursor: pointer;
}