body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 100px 150px;
}
h1{
    color: #F8EF00;
    font-family: "Tomorrow", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 20%;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.generator{
    width: 50%;
    height: 50vh;
    /* background-color: aliceblue; */
}
.output{
    width: 100%;
    height: 50px;
    background-color: #00eeff1a;
    border: solid 2px #00F0FF;
}
.history{
    width: 50%;
    height: 50vh;
}